.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
.avatar {
  margin-top: 10px;
}
.isTouched.isValided {
  display: none;
}
.isNotTouched {
  display: none;
}
.isError.isTouched {
  content: "";
  display: block;
  width: 100%;

  height: 0px;
  background-color: red;
  color: red;
  margin-top: 5px;

  margin-bottom: 10px;
}
